<% if logged_in? %>
  <div class="center jumbotron">
    <h1>Welcome to Private Events</h1>

    <h2>
      This is the Private Events Home Page, Sign Up to Find and Attend Events near you!
    </h2>
    <div class="text-center">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <div class="text-center">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
